* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    /*padding-top: 50px;*/
    background-color: #f4f4f4;
}

.game_container {
    width: 300px;
    text-align: center;
}

/*Шапка*/
.game_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.info_board {
    font-size: 14px;
}

#leaderboard-btn {
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}

/*Игровая зона*/
.screen_container {
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
}

.game_board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    justify-items: center;
    height: 100%;
    align-items: center;
    background-color: lightblue;
    border-radius: inherit;
}

.puzzle_item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: gray;
    width: 60px;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
}

.puzzle_item_empty {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: darkgrey;
    width: 60px;
    height: 60px;
    font-size: 18px;
}

/*Кнопки*/
.game_controls button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
}

[data-number="16"] {
    opacity: 0;
    cursor: unset;
}

.top15_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.end_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

h1 {
    font-size: 25px;
    padding-top: 90px;
}

.score {
    font-size: 20px;
}